<h1>New Comment!</h1>

<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <label for="comment_content">Body</label>
  <input id="comment_content" type="text" name="comment[content]">

  <input type="submit" value="Submit">

</form>
